<!DOCTYPE HTML>
<html>
<head>
    <title>Vimbot - Classifying Your {{ track }} Tweets</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Scraping...</h1>
    <p>Pulling tweets marked with <em>{{ track }}</em></p>
    {% for message in results %}
    <p>{{ message.user.name }} (@{{ message.user.screen_name }}) - {{ message.text }} ({{ message.created_at.toUTCString() }})</p>
    {% endfor %}
</body>
</html>
